<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de livre</title>
</head>
<body>
    <h1>Recherche de livre</h1>
    <form action="/fiche_livre/" method="POST">
        <label for="search">Titre du livre :</label>
        <input type="text" id="search" name="search" placeholder="Entrez le nom du livre" required>
        <button type="submit">Rechercher</button>
    </form>

    {% if books %}
    <h2>Résultats de la recherche :</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>ISBN</th>
                <th>Stock/th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun livre trouvé.</p>
    {% endif %}
</body>
</html>
