<!doctype html>
<title>Flask Server</title>
<h1> Hello from Flask Server !</h1>
<button onclick="window.location.href='https://shvwn.alwaysdata.net/authentification';">authentification</button>
<button onclick="window.location.href='https://shvwn.alwaysdata.net/fiche_nom/';">Chercher clients</button>
<button onclick="window.location.href='https://shvwn.alwaysdata.net/fiche_livre/';">Chercher Livre</button>
<button onclick="window.location.href='https://shvwn.alwaysdata.net/consultation/';">Liste Clients</button>
<button onclick="window.location.href='https://shvwn.alwaysdata.net/consultation2';">Ajouter/Supprimer Livre</button>
